@page "/playlistcomponent"

@using GridBlazor
@using GridBlazor.Pages
@using GridMvc.Demo.Resources
@using GridShared
@using GridShared.Columns
@using GridShared.Utility
@using System
@using Microsoft.Extensions.Primitives
@using System.Globalization
@using System.Threading.Tasks
@using System.Timers
@using Rad.Models.Domian
@using Rad.Services
@using Rad.Dialogs


@inject IPlaylistService        playlistService
@inject IPlaylistTrackService   playlistTrackService
@inject IPrintingService        printingService

@if (isMessage)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <form>
                            <EditForm Model="@isMessage" OnValidSubmit="@closeModal" @ref="Form">
                                <ArtistComponentSearch PlaylistId="@artistComponentSearch.PlaylistId" />
                            </EditForm>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" @onclick="@closeModal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    ArtistComponentSearch artistComponentSearch = new ArtistComponentSearch();
    EditForm Form;
    protected Boolean isMessage = false;

    protected void closeModal()
    {
        isMessage = false;
    }
}

@if (_task.IsCompleted)
{
    <div class="font-italic small">
        <div class="col-sm-12 table-sm">
            <GridComponent T="Playlist" Grid="@_grid"></GridComponent>
        </div>
    </div>
    <button @onclick="Print">Print</button>
    <button @onclick="Playlist">Playlist</button>
}
else
{
    <p><em>Loading...</em></p>
}

@code
{
    Timer timer;
    private CGrid<Playlist> _grid;
    private GridComponent<Playlist> _gridComponent;
    private Task _task;

    private void Playlist()
    {
        string err = "You must select the row you want to playlist";

        if (playlist.PlaylistId == 0)
        {

        }
        else
        {
            isMessage = true;
        }
    }


    private void Print()
    {
        string err = "You must select the row you want to print";

        if (playlist.PlaylistId == 0)
        {

        }
        else
        {
            List<PlaylistTrack> playlistTracks = (List<PlaylistTrack>)playlist.PlaylistTracks;

            string rawHtml1 = string.Join(
                Environment.NewLine,
                "<h1>Playlist - " + playlist.Name + "</h1>");

            string rawHtml2 = null;

            foreach (var playlistTrack in playlistTracks)
            {
                string milliseconds = playlistTrack.Track.Milliseconds.ToString();

                rawHtml2 = rawHtml2 + playlistTrack.Track.Name + " (" + 
                                      playlistTrack.Track.Album.Title + " - " + 
                                      playlistTrack.Track.Album.Artist.Name + ") " + 
                                      milliseconds.Substring(0, 1) + ":" + milliseconds.Substring(2, 2) + " " +
                                      playlistTrack.Track.Genre.Name + "</br>";
            }

            string rawHtml = String.Join(
                Environment.NewLine,
                rawHtml1,
                rawHtml2
            );

            printingService.Print(rawHtml, PrintType.RawHtml);
        }
    }



    protected override async Task OnParametersSetAsync()
    {
        Action<IGridColumnCollection<Playlist>> playlistColumns = c =>
        {
            c.Add(o => o.PlaylistId, true).SetPrimaryKey(true).SetWidth(50).SetCrudHidden(true);
            c.Add(o => o.Name, false);
        };

        Action<IGridColumnCollection<PlaylistTrack>> playlistTrackColumns = c =>
        {
            c.Add(o => o.PlaylistId, true).SetPrimaryKey(true).SetWidth(50).SetCrudHidden(true);
            c.Add(o => o.TrackId, true).SetPrimaryKey(true, false);
            //c.Add(o => o.Track.TrackId, false).SetCrudHidden(true);
            c.Add(o => o.Track.Name, false).SetCrudHidden(true);
            c.Add(o => o.Track.Genre.Name, false).SetCrudHidden(true);
            //c.Add(o => o.Track.MediaType.Name, false);
            c.Add(o => o.Track.Album.Artist.Name, false).SetCrudHidden(true);
            c.Add(o => o.Track.Album.Title, false).SetCrudHidden(true);
        };

        var locale = CultureInfo.CurrentCulture;
        SharedResource.Culture = locale;
        var query = new QueryDictionary<StringValues>();

        Func<object[], Task<ICGrid>> subGrids = async keys =>
        {
            int playlistId = Int32.Parse(keys[0].ToString());
            var subGridClient = new GridClient<PlaylistTrack>(q => playlistTrackService.GetPlaylistTrackGridRows(playlistTrackColumns, query, playlistId),
                query, false, "playlistGrid" + playlistId, playlistTrackColumns, locale)
                .Sortable()
                .Filterable()
                .SetKeyboard(true)
                .Groupable(true)
                .ClearFiltersButton(true)
                .SetStriped(true)
                .WithMultipleFilters()
                .Searchable(true, false)
                .WithGridItemsCount()
                .ChangePageSize(true)
                .Selectable(true)
                .SetHeaderCrudButtons(true)
                .Crud(true, false, false, true, playlistTrackService)
                .AddButtonComponent<DialogComponentArtist>("Artist N", "Artist L", null, null, null, playlistId)
                .SetStriped(true)
            ;

            await subGridClient.UpdateGrid();
            return subGridClient.Grid;
        };

        var client = new GridClient<Playlist>(q => playlistService.GetPlaylistGridRows(playlistColumns, query), query, false,
            "playlistGrid", playlistColumns, locale)
            .Selectable(true)
            .Searchable(true, false)
            .Crud(true, false, false, true, playlistService)
            .SetHeaderCrudButtons(true)
            .SubGrid(subGrids, ("PlaylistId", "PlaylistId"))
            .SetStriped(true)
        ;

        _grid = client.Grid;
        _gridComponent = _grid.GridComponent;
        _task = client.UpdateGrid();
        await _task;
        Start();
    }

    public void Start()
    {
        if (timer == null)
        {
            timer = new Timer();
            timer.Interval = 500;
            timer.Elapsed += TimerOnElapsed;
        }

        timer.Start();
    }

    Playlist playlist = new Playlist();

    protected void OnRowClickedPlaylist(object item)
    {
        if (item.GetType() == typeof(Playlist))
        {
            playlist = (Playlist)item;
            artistComponentSearch.PlaylistId = playlist.PlaylistId;
        }
    }

    private void TimerOnElapsed(object sender, ElapsedEventArgs e)
    {
        if (timer != null && _gridComponent != null)
        {
            timer.Stop();
            timer.Dispose();

            _gridComponent.OnRowClicked = OnRowClickedPlaylist;
            
        }
        else
            _gridComponent = _grid.GridComponent;
    }

    public void Dispose()
    {
        if (timer != null)
        {
            timer.Dispose();
            timer = null;
        }
    }
}

